<header id="header"  class="header d-flex align-items-center " style="height: fit-content;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1 style="background-image: url(ASP\ Logo.png);">ASP<span>.</span><img src="ASP Logo.png" > </h1>
      </a>
      <!-- <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i> -->
      <nav id="navbar" class="navbar" >
        <ul>
          
          <li><a  [routerLink]="['/home']" routerLinkActive="active" >Home</a></li>
          <!-- <li><a routerLink="/about" routerLinkActive="active">About</a></li> -->
          <li class="dropdown" ><a  [routerLink]="['/products']" routerLinkActive="active"><span>Products</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul class="side-by-side ">
                <li style="margin-left: 10%; font-size: larger; color: rgb(000,121,191);">Environmental</li>
                <li><a  [routerLink]="['/caaqms']"(click)="set()">CAAQMS</a></li>
                <li><a  [routerLink]="['/cems']"(click)="set()">CEMS</a></li>
                <li><a  [routerLink]="['/eqms']"(click)="set()">EQMS</a></li>
                <li><a  [routerLink]="['/water']"(click)="set()">Online Water Quality</a></li>
                <li><a  [routerLink]="['/air']"(click)="set()">Online Air Quality</a></li>
                <li><a  [routerLink]="['/port']"(click)="set()">Portable</a></li>
              </ul>

              <!-- <ul class="side-by-side">
                <li style="margin-left: 10%; font-size: larger; color: rgb(000,121,191);">Analytical</li>
                <li><a  [routerLink]="['/purpose']"(click)="set()">General Purpose</a></li>
                <li><a  [routerLink]="['/process']"(click)="set()">Process</a></li>
                <li><a  [routerLink]="['/lab']"(click)="set()">Lab Use</a></li>
                <li><a  [routerLink]="['/medical']"(click)="set()">Medical</a></li>
                <li><a  [routerLink]="['/environ']"(click)="set()">Environmental</a></li>
                <li><a  [routerLink]="['/attach']"(click)="set()">Attachment</a></li>
              </ul> -->


          </li>
          <li><a  [routerLink]="['/services']" routerLinkActive="active">Services</a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="active" >contact us</a></li>         
        </ul>
    </nav>
    </div>
  </header>
  