<div class="login-box" style="margin-top: ;">
    <h2>Password</h2>
    <form>
      <div class="user-box">
        <input type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" name="" required=""/>
        <label>Username</label>
        <!-- <input type="text" name="" required="">
        <label>Username</label> -->
      </div>
      <!-- <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div> -->
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button type="submit" class="btn " (click)="log()">Login</button>
      </a>
    </form>
  </div>
  
  <div style="margin-bottom:560px ;"
  ></div>

















<!-- <div style="margin-top: 60px;">

</div>
<div class="form-container">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email password</label>
        <input type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter password"/>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn " (click)="log()">Login</button>
      </div>
      
    </form>
  </div> -->