 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">Welcome to <span>ASP</span></h2>
          <p data-aos="fade-up">ASP is an Certified Company offering high quality instrumentation and technical services in the field of Ambient Air Quality, Stack Monitoring, Water Quality, Gas Detection, Occupational Health & Safety and Software’s for CPCB-SPCB Servers</p>
          <a data-aos="fade-up" data-aos-delay="200" href="#constructions" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/hero-carousel-1.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-2.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-5.jpg)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section><!-- End Hero Section -->

  <!-- ======= Constructions Section ======= -->
  <section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Why Choose Us?</h2>
        <p>ASP helps Industries to monitor its environment, R & D Institutions to do research on pollution, Governing Bodies to check pollution.</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-001.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">CAAQMS</h4>
                  <p>Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-002.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">CEMS</h4>
                  <p>Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-003.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">EQMS</h4>
                  <p>Effluent Quality Monitoring Systems to Measure TOC / COD / BOD, pH, TSS, Temp., Flow etc. For STP, WTP, DWTP etc. as per OCEMS</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-006.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Air</h4>
                  <p>Portable Air Quality Monitoring Instruments to measure gases and particulate matter / dust.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Constructions Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Services</h2>
        <p>ASP brings Professionalism, Technical knowledge, Experience, and Flexibility to every project, large or small. Our project teams routinely address a variety of environment related challenges. Each and every project is important to us because it is important to you.</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="fa-solid fa-mountain-city"></i>
            </div>
            <h3>Air Quality</h3>
            <p>Reflecting Scientific evidence accumulating on the variety and severity of health effects linked with Air Pollution. The mixing of harmful gases and other particles in the air is called Air Pollution.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-arrow-up-from-ground-water"></i>
            </div>
            <h3>Stack Emission</h3>
            <p>Air pollution is responsible for many health problems. The atmospheric air is polluted due to the increase of population and increase in number of vehicles and industries.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <h3>Water Quality</h3>
            <p>Water covers over 70% of the Earth’s surface. It is a very important resource for people and the environment. Water pollution affects drinking water, rivers, lakes and oceans all over the world.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-trowel-bricks"></i>
            </div>
            <h3>Gas Detection</h3>
            <p>We provide gas leak detection services that will reveal areas of concern before they grow into larger and more dangerous problems.Gas leaks are hazardous to your health.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-helmet-safety"></i>
            </div>
            <h3>Occupational Health & Safety</h3>
            <p>Work plays a central role in people's lives, since most workers spend at least eight hours a day in the workplace. Occupational health and safety is a discipline with a broad scope involving</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-arrow-up-from-ground-water"></i>
            </div>
            <h3>Software & CPCB-SPCB Servers</h3>
            <p>Monitoring Software’s should be down-to-earth, easy to understand, fun to use, and produce results. We came up with a best Programe which suits your requirements the way you like.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Alt Services Section ======= -->
  <section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-6 img-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-001.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3>CAAQMS</h3>
          <p>Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</p>

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-easel flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">CEMS</a></h4>
              <p>Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-patch-check flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">CEMS</a></h4>
              <p>Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">EQMS</a></h4>
              <p>Effluent Quality Monitoring Systems to Measure TOC / COD / BOD, pH, TSS, Temp., Flow etc. For STP, WTP, DWTP etc. as per OCEMS</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Air</a></h4>
              <p>Portable Air Quality Monitoring Instruments to measure gases and particulate matter / dust.</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>
  </section><!-- End Alt Services Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-3">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>CAAQMS</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>CEMS</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>EQMS</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
            <h4>Air</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>CAAQMS</h3>
              <p class="fst-italic">
                Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</li>
                <li><i class="bi bi-check2-all"></i> Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</li>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-001.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>CEMS</h3>
              <p class="fst-italic">
                Advanced research instruments to study about VOCs, GHGs, Emissions, Trace gases, aerosols, particles, bubbles etc.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</li>
                <li><i class="bi bi-check2-all"></i> Effluent Quality Monitoring Systems to Measure TOC / COD / BOD, pH, TSS, Temp., Flow etc. For STP, WTP, DWTP etc. as per OCEMS</li>
                <li><i class="bi bi-check2-all"></i> Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</li>
                <li><i class="bi bi-check2-all"></i> Advanced research instruments to study about VOCs, GHGs, Emissions, Trace gases, aerosols, particles, bubbles etc.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-002.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>EQMS</h3>
              <ul>
                <li><i class="bi bi-check2-all"></i> Advanced research instruments to study about VOCs, GHGs, Emissions, Trace gases, aerosols, particles, bubbles etc.</li>
                <li><i class="bi bi-check2-all"></i> Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</li>
                <li><i class="bi bi-check2-all"></i> Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</li>
              </ul>
              <p class="fst-italic">
                Effluent Quality Monitoring Systems to Measure TOC / COD / BOD, pH, TSS, Temp., Flow etc. For STP, WTP, DWTP etc. as per OCEMS
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-003.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>R & D</h3>
              <p class="fst-italic">
                Advanced research instruments to study about VOCs, GHGs, Emissions, Trace gases, aerosols, particles, bubbles etc.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</li>
                <li><i class="bi bi-check2-all"></i> Advanced research instruments to study about VOCs, GHGs, Emissions, Trace gases, aerosols, particles, bubbles etc.</li>
                <li><i class="bi bi-check2-all"></i> Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-018.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

      </div>

    </div>
  </section><!-- End Features Section -->

   <!-- ======= get a quote Section ======= -->
   <section id="get-started" class="get-started section-bg">
    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <div class="content">
            <h3>Who We Are</h3>
            <p>ASP is an Certified Company offering high quality instrumentation and technical services in the field of Ambient Air Quality, Stack Monitoring, Water Quality, Gas Detection, Occupational Health & Safety and Software’s for CPCB-SPCB Servers. Our services are provided in the disciplines of Central and State Environmental Authorities Regulations.</p>
          </div>
        </div>

        <div class="col-lg-5" data-aos="fade">
          <form action="forms/quote.php" method="post" class="php-email-form">
            <h3>Get a quote</h3>
            <p>Whether you have a question about our product features, specifications, price, trials, demos, spares, consumables, service, calibration or anything else, our team is ready to answer all your questions.</p>
            <div class="row gy-3">

              <div class="col-md-12">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
              </div>

              <div class="col-md-12 ">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="phone" placeholder="Phone" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                <button type="submit">Get a quote</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>
  </section><!-- get a quote Section -->